body {
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: #333;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #FFA500;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    bottom: 0;
    background-color: #E4CBE4;
    z-index: -1;
}

h1, h2, p {
    font-size: medium;
}

h4 {
    font-size: 20px;
}

.intro, .Comp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    margin-bottom: 50px;
}

.Comp {
    flex-wrap: wrap;
}

.photo {
    margin: -65px 0 100px 10%;
}

.A-propos {
    text-align: right;
    margin: -220px 20% 0 0;
    
}

.Contact .contact { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 50px 0 0 50px;
    padding-left: 50px;
}

.Contact p {
    margin: 5px;
}

h1 {
    text-align: right;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 1px 1px 2px #141414, 1px 1px 3px #141414, 1px 1px 5px #141414, 1px 1px 7px #141414, 1px 1px 10px #141414, 1px 1px 12px #141414, 1px 1px 18px #141414;
    color: #FFA500;
    margin: 0 20% 0 0;
    font-size: 40px;
    
}

.Comp ul {
    list-style-position: inherit; 
}

.Comp li {
    text-align: left;
}

.Comp article {
    flex: 0 0 48%;
    box-sizing: border-box;
    margin-bottom: 20px;
}
